stock-backend/target/
stock-backend/.mvn/wrapper/maven-wrapper.jar
stock-backend/!**/src/main/**/target/
stock-backend/!**/src/test/**/target/
stock-backend/.env

### STS ###
stock-backend/.apt_generated
stock-backend/.classpath
stock-backend/.factorypath
stock-backend/.project
stock-backend/.settings
stock-backend/.springBeans
stock-backend/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
stock-backend/nbproject/private/
stock-backend/nbbuild/
stock-backend/dist/
stock-backend/nbdist/
stock-backend/.nb-gradle/
stock-backend/build/
stock-backend/!**/src/main/**/build/
stock-backend/!**/src/test/**/build/

### VS Code ###
.vscode/
